<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card border-0 rounded-3 p-4">
   

  
   <form action="/api/users/auth" method="POST">
      <div class="mb-3">
        <label for="UserName-signin" class="form-label">User Name</label>
        <input type="userName" class="form-control" id="UserName" aria-describedby="UserName Input">
 
      <div class="mb-3">
        <label for="password-signin" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    
    <form action="/newuser" method="GET">
      <button type="submit" class="btn btn-secondary">Sign Up Now</button>
    </form>
</div>

<script src="/js/login.js"></script>